<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">

	<resultMap id="getBoardMap" type="java.util.HashMap">
	 <result property="bno"    column="bno"   />
	 <result property="menu_id"    column="menu_id"    />
	 <result property="mname"    column="mname"    />
	 <result property="title"  column="title"  />
	 <result property="content"     column="content"   />
	 <result property="writer"       column="writer"      />
	 <result property="regdate"    column="regdate"    />
	 <result property="hit"    column="hit"   />	
	</resultMap>
	
	<select id="getBoardList">
		SELECT
		BNO
		, MENU_ID
		, TITLE
		, WRITER
		, TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE
		, HIT
		FROM
		BOARD
		WHERE MENU_ID = #{ menu_id }
		ORDER BY BNO DESC
	</select>
	
	<select  id = "getBoard"
	     resultMap = "getBoardMap">
		 SELECT
			BNO
			, MENU_ID
			,(SELECT MENU_NAME
             FROM BOARD b, MENUS m
             WHERE b.MENU_ID = m.MENU_ID AND BNO = #{ bno }) AS MNAME
			, TITLE
			, CONTENT
			, WRITER
			, TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE
			, HIT
		 FROM BOARD
		 WHERE BNO = #{ bno }
		 ORDER BY BNO DESC
	</select> 

	<insert id="insertBoard">
		INSERT INTO BOARD (
			BNO,
			TITLE,
			CONTENT,
			WRITER,
			MENU_ID
			)
			VALUES (
			( SELECT NVL(MAX(BNO), 0) + 1 FROM BOARD )
			,#{ title }
			,#{ content }
			,#{ writer }
			,#{ menu_id }
		)
	</insert>
	
	<update id="updateBoard">
	 UPDATE   BOARD
       SET     TITLE = #{ title },
               WRITER   = #{ writer   },
               CONTENT   = #{ content   }
       WHERE   BNO   = #{ bno  }  
	</update>
	
	<update id="incHit">
	UPDATE BOARD
	 SET HIT = HIT + 1
	 WHERE BNO = #{ bno }
	</update>
	
	
	
	<delete  id="deleteBoard">
	
	   DELETE  FROM  BOARD
	    WHERE  BNO= #{ bno  } 
	
	</delete>

</mapper>

















